<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="logo">
  <%= image_tag "htpng", class: "hitec-image" %>
</div>
<p class="preregister-title"> Preregistro HiTec! 2018</p>
<div class="preregister-form form-group">
  <%= form_for @student do |f| %>
    <div>
      <%= f.label :nombre %>
      <%= f.text_field :name, class:"form-control"  %>
    </div>
    <div>
      <%= f.label :Email, class:"label-separation" %>
      <%= f.text_field :email, class:"form-control" %>
    </div>
    <div>
      <%= f.label "Eres vegano?", class:"label-separation" %>
      <%= f.select :vegan, [["Si", true], ["No", false]], { include_blank: "Selecciona una opción" }, { class:"form-control" }  %>
    </div>
    <div>
      <%= f.label :Carrera, class:"label-separation" %>
      <%= f.text_field :career, class:"form-control" %>
    </div>
    <div>
      <%= f.submit "Guardar", class:"btn btn-primary save-student" %>
    </div>

  <% end %>
</div>
