<%= render "layouts/navbarform" %>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<div class="container-fluid">
  <%= image_tag "htpng.png", class:"form-logo" %>
  <h1 class="text-uppercase text-white" style="text-align: center;"> ¡Aquí es donde todo comienza! </h1>
  <div class="container">
    <%= form_for @student, html:{class: "text-dark frm form-style"}  do |f| %>
    <div class="form-group">
      <%= label_tag "Nombre(s)" %>
      <%= text_field_tag "name", nil, class:"form-control", id:"name", required: true %>
    </div>
    <div class="form-group">
      <%= label_tag "apellidos", nil, class:"label-separation" %>
      <%= text_field_tag "last_name", nil, class:"form-control", id:"lastname", required: true %>
    </div>
    <div class="form-group">
      <%= label_tag "Correo", nil, class:"label-separation" %>
      <%= text_field_tag "email", nil, class:"form-control", id:"email", required: true %>
    </div>
    <div class="form-group">
      <%= f.label :carrera, class:"label-separation" %>
      <%= f.select :career, career_options, { include_blank: "Selecciona una opción" }, { class:"form-control", required: true }  %>
    </div>
    <div class="form-group">
      <%= f.label "Eres vegano/a?", class:"label-separation" %>
      <%= f.select :vegan, [["Si", true], ["No", false]], { include_blank: "Selecciona una opción" }, { class:"form-control", required: true }  %>
    </div>
    <div class="form-group" style="display: inline-flex;">
      <input type="checkbox" name="politicas" style=" margin-right: 1rem;" required><p>He leído y acepto los <a  target="_blank" href="https://tec.mx/es/aviso-de-privacidad-prospectos">términos y condiciones</a></p>
    </div>
    <div>
      <%= f.submit "Enviar", class:"btn btn-primary mt-3", style:"margin-bottom: 3rem;" %>
    </div>
    <% end %>
  </div>
</div>

<%= render "layouts/footerform" %>
