	<?xml version="1.0" encoding="utf-8"?>
	<!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	viewBox="0 0 1200 1200" style="enable-background:new 0 0 1200 1200;" xml:space="preserve" class="path" stroke="#003d6d" stroke-width="4" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="3450" stroke-dashoffset="3450" fill="transparent">

		<g id="Layer_2">
		</g>
		<g id="Layer_1">
			<g>
				<path class="st0" d="M1123.3,269.8c-9.7-25.1-22-45.8-36.5-61.5c-8.5-12.6-17.9-23.4-27.9-32.2c-8.1-7.1-16.6-12.8-25.4-17.2
				c-8.3-4.1-18.5-7.7-30.4-10.7c-7.2-1.8-15.2-3.4-23.5-4.8c-26.8-4.3-60.5-6.5-100.1-6.5c-20.4,0-42.7,0.6-66.2,1.7l-0.4,0
				c-19,1-39.1,2.3-59.6,3.9c-6.6,0.5-13.2,1.1-19.9,1.7c-4.6,0.4-9.3,0.8-13.9,1.3c-67.3,0.9-142.4,4.4-217.3,10.1
				c-102.8,0.3-199.9,4.7-273.3,12.4c-37.8,3.9-68.2,8.7-90.3,14c-28.1,6.8-42.2,14.2-47,24.8c-2.3,5-4.1,10.8-5.5,17.5
				c-10.8,5.6-16.9,11.4-19.3,18.2c-4.1,11.3-5.7,26.2-4.9,45.4c-8,5.8-12.6,11.5-14.3,17.7c-10.7,41.5,16.7,125,41.6,187.8
				c31.2,78.9,76.2,169.3,120.6,242.1c16.2,32.9,31.6,57.9,45.9,74.2c3.5,4,7.7,7.8,12.3,11.3c16.7,21.2,31.9,37.5,45.4,48.4
				c18.7,15,46.2,22.3,84.1,22.3c62.7,0,144.2-19.9,223-39.1c16.2-4,31.5-7.7,46.7-11.3c5.4-0.1,10.5-0.2,15.4-0.2
				c32.2,0,56,2.3,72.8,6.8c19.1,5.3,22.3,34.2,24.9,77.7c1.2,20.5,2.4,41.6,7.3,59.2c6.2,22.7,17.5,36.4,34.6,42.1
				c6.1,2,12.4,3,19,3h0c25.8,0,54.3-15.1,87-46.2c31.1-6.3,62.6-35.8,96-90.1c23.4-38,47.7-88.4,72.3-150
				C1153,628.1,1192.2,381,1123.3,269.8z"/>
				<g>
					<g>
						<g>
							<path class="st1" d="M288.6,819.5c-1.4-1.3-2.7-2.7-4-4.1c-3.4-2.1-6.6-4.3-9.6-6.6c16.9,22,32.9,39.6,47,51
							c58.1,46.6,217.2-1.1,346.8-31.4c-41.7,0.7-89.7,4.4-138,7.4C428.1,849.9,328.3,858,288.6,819.5z"/>
						</g>
					</g>
					<g>
						<g>
							<path class="st1" d="M1075.4,755.6c-17.2,29.7-47.2,81-82.3,130.3c-14.2,19.9-29.2,39.6-44.5,57.3
							c-11,11.9-22.2,21.9-33.3,29.4c1.9,0,3.9,0,5.8-0.2c69.6-6.6,137.8-163.3,173.7-256.9C1088.6,730.5,1082.1,744,1075.4,755.6z"
							/>
						</g>
					</g>
					<g>
						<g>
							<path class="st1" d="M75.5,294.5c-8.7,5.2-13.9,10-15,14.3C43.4,375.2,138.1,596.5,229,741.8c-9-17.3-18-36.9-26.9-58.1
							C140.3,558.2,81.9,386.8,75.5,294.5z"/>
						</g>
					</g>
					<g>
						<g>
							<path class="st1" d="M1048,193.7c3,1.5,5.7,2.9,8.2,4.5c7.8,4.8,14.9,10.8,21.5,17.7c-7.9-11.9-16.6-22.1-26.3-30.6
							c-7.1-6.2-14.6-11.4-22.7-15.4c-7.7-3.8-17.1-7.1-27.9-9.8c-6.9-1.8-14.4-3.3-22.5-4.6c-42.1-6.8-98.9-7.8-164-4.6h-0.1
							c-19.1,1-38.9,2.2-59.2,3.9c-6.5,0.5-13.2,1.1-19.8,1.7c-4.8,0.4-9.6,0.9-14.3,1.3c19.5-0.3,38.7-0.3,57.3-0.1
							c13.9,0.1,27.6,0.4,40.9,0.8h0.1c28.9,0.9,56.5,2.3,82.1,4.5c35,3,66.3,7.2,92.5,13C1015.7,180.9,1034.1,186.8,1048,193.7z"/>
						</g>
					</g>
				</g>
				<g>
					<g>
						<g>
							<path class="st2" d="M103.7,211.9c-39,85.5,78.1,493.8,162.1,589.7c71.1,81.2,384.7,4.7,493.7,34.3
							c58.2,15.9,10.1,160.2,67.4,179.1c81.9,27.1,206.4-184.4,249.6-259.1c67.8-117.1,116.5-431.9,7.6-512.2
							C945.2,141.3,129.5,155.5,103.7,211.9z"/>
						</g>
					</g>
				</g>
			</g>
			<g>
				<g>
					<g>
						<polygon class="st0" points="492.2,224.4 498.2,367.4 463.8,368.6 461,225.2 347.9,232.5 363.6,509.8 466.1,506.3 465.2,457.9 
						501.4,455.6 503.2,505.2 605.8,502.9 605.7,225.1 				"/>
					</g>
				</g>
				<g>
					<g>
						<g>
							<path class="st3" d="M588.6,241l2.6,245.8l-75.6,2.5l-2.3-48.7l-59.5,4.5l1.3,46.6l-75.5,3.4l-16.4-245.3l85-6.3l4,139
							l58.3-2.7l-7.1-138.4L588.6,241z"/>
						</g>
					</g>
				</g>
			</g>
			<g>
				<g>
					<g>
						<path class="st0" d="M715.2,381.7c-1.3-44.4-0.7-94.2,1.5-148l0.5-13.1l-106.9-1l-0.3,12.4c-1.5,59.8-1.7,110.5-0.6,150.5
						c1.2,40.1,3.3,77,6.3,109.4l1.2,12.2l104-6.5l-1-12.7C718,459.4,716.4,424.6,715.2,381.7z"/>
					</g>
				</g>
				<g>
					<g>
						<g>
							<path class="st3" d="M707.7,236.2c-3.9,54.2-5.8,103.8-5.8,148.8c0,44.1,0.6,78.8,1.8,104l-79.1,2.7
							c-2.1-32.9-3.1-69.2-3.1-108.8c0-39.7,1.6-89.6,4.9-149.7L707.7,236.2z"/>
						</g>
					</g>
				</g>
			</g>
			<g>
				<g>
					<g>
						<path class="st0" d="M850.5,452c-0.3-10.7-5.2-25.8-26.5-36.2c-2.6-1.3-5.4-2.4-8.1-3.4l27.1,0l0.2-12.4
						c0.6-40.9,0.5-75-0.2-101.4c-0.7-25.6-1.7-50.3-3.1-73.6l-0.6-12.5l-104.4,5.3l0.4,12.4c2.4,75.8,2.7,132.7,0.8,169.1l-0.7,13.3
						l23.5-0.1c-4.3,1.6-8.5,3.3-12.5,5.6c-20.2,11.6-24.1,26.9-23.8,37.6c0.3,10.9,5.1,26.2,26,36.6c11.3,5.6,23.6,8.4,36.5,8.4l0,0
						l2.6,0c13.9-0.4,26.8-4,38.4-10.6C846.9,478.6,850.8,463,850.5,452z"/>
					</g>
				</g>
				<g>
					<g>
						<g>
							<path class="st1" d="M838.2,453.3c0,10.9-6.2,19.7-18.6,26.2c-10.1,5.3-21.1,8-32.9,8c-11.9,0-22.8-2.7-32.9-8
							c-12.1-6.5-18.2-15.2-18.2-26.2c0-10.7,6.1-19.3,18.2-25.8c10.1-5.3,21.1-8,32.9-8c11.8,0,22.8,2.7,32.9,8
							C832,434,838.2,442.6,838.2,453.3z M832.1,305.5c0,26.6-0.9,60.2-2.7,100.8l-81.8-2.2c3-37,4.3-93.7,4-170.1l79.5-1.7
							C831.8,254.5,832.1,278.8,832.1,305.5z"/>
						</g>
					</g>
				</g>
			</g>
			<g>
				<g>
					<g>
						<path class="st4" d="M892.8,616.8l-12.9,18.5c-16,23-33.9,34.3-54.7,34.8l-0.9,0c-6.9,0-12.1-1.8-16.4-5.8
						c-4.4-4-6.4-9-6.6-15.9c-0.3-15.1,4.7-26,15.9-34.2c10.6-7.8,24.7-11.9,41.9-12.4h1c7.1,0,18.1,1.7,32.6,5.1l13.5,3.2l15-96.9
						l-9.9-3.6c-16.6-6-38.6-8.8-65.9-8.2c-39.2,0.9-73.2,15.2-100.9,42.4c-15.4,15-26.5,31.7-33.5,50l-0.1-1.3h-0.3l-2.7-77.6
						l-187.2,6.9l-0.2-2.8l-194.4,6.3l-0.1,87.4l48.1-2.7l5.5,157.6l90.6-1.6l1.1-160.4l45.8-2c0,14.7,0.2,28.4,0.4,40.8
						c0.7,30,2.9,64.1,6.5,101.3l1.1,11.7l43.7-0.5c53.9-1,101.2-3.8,140.5-8.2l12.1-1.4l-2.6-42.5c5.5,9.2,12.3,17.6,20.5,25
						c22.6,20.5,50.8,30.9,83.7,30.9c1.2,0,2.5,0,3.7,0c41.9-1,76.2-17.3,101.8-48.6l5.1-6.2L892.8,616.8z"/>
					</g>
				</g>
				<g>
					<g>
						<g>
							<g>
								<polygon class="st0" points="510.8,529.4 341.1,530.9 339.6,592.2 387.3,590.7 389.1,748.9 454.6,749.3 459.4,589.3 
								513,588.1 						"/>
							</g>
						</g>
					</g>
					<g>
						<g>
							<g>
								<path class="st0" d="M599.9,673.9l-0.7-12.2l101.6-2.9l-1.4-51.4l-101,0.8l0.7-10.8l99.4-3.4l-0.7-64.3L533,532
								c-2,43.4-3,80-3,109.8c0,29.6,1.3,63.1,4,100.5l31.8,0.3c53.7,0.2,100.2-1.3,139.4-4.8l-2.6-68.4L599.9,673.9z"/>
							</g>
						</g>
					</g>
					<g>
						<g>
							<g>
								<path class="st0" d="M825.8,683.1c-10.6,0-19.3-3.2-26.1-9.8c-6.8-6.5-10.2-15-10.2-25.3c0-19.3,7.4-34,22.2-44.3
								c13.1-9.1,29.6-13.7,49.6-13.7c8.1,0,20.4,2,36.6,6.2l13-72.4c-15.3-5.9-35.6-8.9-61.1-8.9c-35.9,0-67,12.1-93.1,36.5
								c-26.9,24.9-40.3,55.2-40.3,90.9c0,31.3,10.3,56.7,30.9,76.3c20.6,19.6,46.5,29.4,77.9,29.4c38.2,0,69.3-13.9,93.2-41.7
								l-26.6-62.1C872.7,670.2,850.7,683.1,825.8,683.1z"/>
							</g>
						</g>
					</g>
				</g>
			</g>
		</g>
	</svg>

<!-- Just an image -->
<nav id="home" class="fadein navbar navbar-expand-lg navbar-light py-0 fixed-top">
	<a class="navbar-brand" href="#top"><%= image_tag "tec", class: "img-fluid", alt: "Responsive Image" %></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link text-dark" href="#what">¿QUÉ ES?</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-dark" href="#acts">ACTIVIDADES</a>
			</li>
		</ul>
	</div>
	<%= image_tag "htlogo1", class: "img-fluid", alt: "Responsive Image" %>
</nav>

<div class="fadein cont">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<%= image_tag "1", class: "d-block w-100", alt: "First slide" %>
			</div>
			<div class="carousel-item">
				<%= image_tag "2", class: "d-block w-100", alt: "First slide" %>
			</div>
			<div class="carousel-item">
				<%= image_tag "3", class: "d-block w-100", alt: "First slide" %>
			</div>
			<div class="carousel-item">
				<%= image_tag "4", class: "d-block w-100", alt: "First slide" %>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

	<div id="what" class="container-fluid">
		<p class="align-middle container" style="padding-top: 8.5rem; text-indent: 1rem;">
			<span class="font-weight-bold text-uppercase h5">¿Qué es?</span>
			<br> Hi! Tec es el evento que organizamos los alumnos del Tecnológico de Monterrey, Campus Monterrey, para darte la bienvenida como Borrego de primer ingreso, transferencia o intercambio, durante la semana previa al inicio de clases. 
			<br><br>Habrá actividades dinámicas y una sana competencia que te permitirán integrarte con tus compañeros, y conocer y aprender los elementos que te ayudarán a iniciar con éxito tu vida académica y estudiantil en el campus. </p>
	</div>

		<div id="acts" class="container-fluid">
			<small>
				<div class="container text-white">
					<p class="align-middle " style="padding-top: 8.5rem; text-indent: 1rem;">
						<span class="font-weight-bold text-uppercase h5">Actividades</span></p>
						<div class="row">
							<div class="col-6">
								<button id="jueves" type="button" class="btn btn-block text-white text-uppercase" style="background-color: #98bf13">Jueves 2 de Agosto - Aquí es donde todo comienza</button>
							</div>
							<div class="col-6">
								<button id="viernes" type="button" class="btn btn-block text-white text-uppercase" style="background-color: #ed8943">Viernes 3 de Agosto - Tienes que vivirlo</button>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table text-center">
								<thead>
									<tr>
										<th scope="col" style="border-top: none">Hora</th>
										<th scope="col" style="border-top: none">Actividad</th>
										<th scope="col" style="border-top: none">Lugar</th>
									</tr>
								</thead>
								<tbody id="tablebody">
									<tr>
										<td scope="row" style="border-bottom: 0.1rem solid #98bf13;">9:30 h</td>
										<td style="border-bottom: 0.1rem solid #98bf13;">Registro</td>
										<td style="border-bottom: 0.1rem solid #98bf13;">-</td>
									</tr>
									<tr>
										<td scope="row" style="border-bottom: 0.1rem solid #98bf13;">10:00 h</td>
										<td style="border-bottom: 0.1rem solid #98bf13;">Bienvenida</td>
										<td style="border-bottom: 0.1rem solid #98bf13;">-</td>
									</tr>
									<tr>
										<td scope="row" style="border-bottom: 0.1rem solid #98bf13;">10:30 h</td>
										<td style="border-bottom: 0.1rem solid #98bf13;">Warmup</td>
										<td style="border-bottom: 0.1rem solid #98bf13;">-</td>
									</tr>
									<tr>
										<td scope="row" style="border-bottom: 0.1rem solid #98bf13;">11:00 h</td>
										<td style="border-bottom: 0.1rem solid #98bf13;">Defile Borrego</td>
										<td style="border-bottom: 0.1rem solid #98bf13;">-</td>
									</tr>
									<tr>
										<td scope="row" style="border-bottom: 0.1rem solid #98bf13;">11:30 h</td>
										<td style="border-bottom: 0.1rem solid #98bf13;">Start Your Journey</td>
										<td style="border-bottom: 0.1rem solid #98bf13;">-</td>
									</tr>
									<tr>
										<td scope="row" style="border-bottom: 0.1rem solid #98bf13;">13:00 h</td>
										<td style="border-bottom: 0.1rem solid #98bf13;">Comida</td>
										<td style="border-bottom: 0.1rem solid #98bf13;">-</td>
									</tr>
									<tr>
										<td scope="row" style="border-bottom: 0.1rem solid #98bf13;">14:30 h</td>
										<td style="border-bottom: 0.1rem solid #98bf13;">Rally</td>
										<td style="border-bottom: 0.1rem solid #98bf13;">-</td>
									</tr>
									<tr>
										<td scope="row" style="border-bottom: 0.1rem solid #98bf13;">17:00 h</td>
										<td style="border-bottom: 0.1rem solid #98bf13;">Been Tec Done That</td>
										<td style="border-bottom: 0.1rem solid #98bf13;">-</td>
									</tr>
									<tr>
										<td scope="row" style="border-bottom: 0.1rem solid #98bf13;">18:00 h</td>
										<td style="border-bottom: 0.1rem solid #98bf13;">Team Back</td>
										<td style="border-bottom: 0.1rem solid #98bf13;">-</td>
									</tr>
									<tr>
										<td scope="row" >18:30 h</td>
										<td>Cierre</td>
										<td>-</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</small>
			</div>

		</div>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
		






