<body style="background-color: #002442" class="text-white">
  <%= render "layouts/navbarSimple" %>

  <div class="container" style="height: 100%; margin-top: 5rem;">
    <h2 class="mb-4">Estadísticas por Carrera</h2>
    <table class="table">
      <tr>
        <th>Carrera</th>
        <th>Cantidad</th>
      </tr>
        <tbody>
          <% @careers.each do |career| %>
            <tr>
              <td><%= career %></td>
              <td><%= quantity_per_career(career) %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>

  <h2 class="mb-4" style="margin-left:5rem;">Cantidad de vegetarianos</h2>
  <table class="table" style="margin: 5rem;">
    <tr>
      <th>Vegano?</th>
      <th>Cantidad</th>
    </tr>
      <tbody>
        <tr>
          <td>Si</td>
          <td><%= @vegano.count %></td>
        </tr>
        <tr>
          <td>No</td>
          <td><%= @no_vegano.count %></td>
        </tr>
      </tbody>
  </table>
</div>
</body>
