<%= render "layouts/navbarform" %>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="container-fluid">
  <%= image_tag "htpng.png", class:"form-logo" %>
  <% @buildings.each do |building| %>
    <%= building.name %>
    <%= building.color.name %>
    <%= link_to 'Destroy',  { action: :destroy, id: building.id }, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>

<%= render "layouts/footerform" %>
