<%= render "layouts/navbarform" %>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="container-fluid">
  <%= image_tag "htpng.png", class:"form-logo" %>
  <%= form_for @building, html:{class: "text-dark frm form-style"}  do |f| %>
    <div class="form-group">
      <%= label_tag "Edificio" %>
      <%= f.text_field :name, class:"form-control", required: true %>

      <%= label_tag "Color al que pertenece" %>
      <%= f.select :color_id, Color.all.collect {|color| [ color.name, color.id ] }, class:"form-control", required: true %>
    </div>
    <div>
      <%= f.submit "Enviar", class:"btn btn-primary mt-3", style:"margin-bottom: 3rem;" %>
    </div>
  <% end %>
</div>

<%= render "layouts/footerform" %>
